## lekcja 9 ##

* lista
* pętla for
* pętla while

In [1]:
# co to jest lista
lst = [3, 8, 9, 11, 4]
list = ["Jaś", "Małgosia", "Kasia"]
print(lst)
print(list)

[3, 8, 9, 11, 4]
['Jaś', 'Małgosia', 'Kasia']

In [2]:
# append- dodaje element na końcu listy
lst.append(100)
print(lst)

[3, 8, 9, 11, 4, 100]

In [3]:
list.append('Andrzej')
print(list)

['Jaś', 'Małgosia', 'Kasia', 'Andrzej']

In [4]:
lista = ["Jaś", 3, "Małgosia", 5]
print(lista)

['Jaś', 3, 'Małgosia', 5]

In [5]:
# pop usuwa ostani element
list.pop()
print(list)

['Jaś', 'Małgosia', 'Kasia']

In [6]:
lst.pop()
print(lst)

[3, 8, 9, 11, 4]

In [7]:
# drukujemy listę w kolumnie, każdy element osobno
# używamy pętli for
for e in lst:
    print(e)

3
8
9
11
4

In [11]:
print(lst[3])

11

In [12]:
# pętla for używa zakresu range
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [15]:
print(lista[2])

Małgosia

In [14]:
print(lista)

['Jaś', 3, 'Małgosia', 5]

In [16]:
# while pętla ze zmienną j
j = 1
while j<10:
    print(j)
    j+=1

1
2
3
4
5
6
7
8
9

In [17]:
# zad wypisz liczby parzyste z zakresu 1-20
for i in range(1,21):
    if(i % 2 == 0):
        print(i, end = ", ")

2, 4, 6, 8, 10, 12, 14, 16, 18, 20,

In [19]:
print("jaś")
print("małgosia")

jaś
małgosia